.event.img {
    margin: 2vh;
    width: 30vh;
    border-radius: 1em;
}

.event.header {
    font-size: 10vh;
}

.event.date {
    font-weight: bold;
    margin: 2vh;
}

.event.location {
    font-size: 1.5vh;
}

pre {
    margin: 1vh 0.5vh;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.event.ig {
    position: relative;
    width: 5vh;
}

.event.btn {
    position: relative;
    top: -7vh;
}

.event.description {
    text-align: start;
    font-size: 14px;
    background-color: #fffaff;
    max-width: 800px;
    margin: 0px 1vh 1vh 1vh;
    color: #050401;
}

@media (max-width: 800px) {
    .event.img {
        width: 90vw;
    }

    .event.header {
        font-size: 5vh;
    }
}
