.wildForestPromo > img {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    z-index: -1;
    right: -9999px;
    margin: auto;
    animation: grow 6s ease-in-out infinite;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.wildForestPromo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    padding-top: 30vh;
}

.wildForestPromo > p {
    font-size: 2em;
    color: #050401;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 800px) {
    .wildForestPromo > p {
        font-size: 4em;
    }
}
